  body {
    background-color: ivory;
  }

  .disable-button {
    background-color: #776677;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
  }

  .enable-button {
    background-color: #f44336;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
  }

  #drop {
    height: 224px;
    width: 224px;
    border: 1px solid blue;
    margin: 5px;
  }

  .dropzone {
    border: 1px solid blue;
    width: 224px;
    height: 100px;
    text-align: center;
    font-size: 64px;
    float: left;
  }

  .dropzone:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .preview {
    border: 1px solid blue;
    width: 224px;
    height: 224px;
    float: left;
  }

